
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
}

.content {
    margin: 30px;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
}

p.info {
    font-size: 18px;
    color: #333333;
    text-align: justify;
}

.footer {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-top: 40px;
}
